

<mat-dialog-content class="my-dialog-content">
  <div class="titlePart">
    <div class="user-initial">{{ loggedInUser.charAt(0) | uppercase }}</div>
  </div>
  <div class="contentPart">
    <div style="margin-top: 20px;font-size:medium;" >{{ loggedInUser | uppercase }}</div>
        
  </div>
 <div class="footerPart" >
  
    <button mat-button style="width:100%;font-size:small;" type="button" (click)="logout()" >
      <mat-icon>exit_to_app</mat-icon> Exit</button>
 </div>
</mat-dialog-content>