<div class="container-tools">
<mat-toolbar color="primary">
    <button mat-icon-button (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    
    <span Style="flex: auto" ></span>

    <button mat-button routerLink="/admin/home"><mat-icon>home</mat-icon>Home</button>


    <button mat-button [matMenuTriggerFor]="membreMenu"><mat-icon>people</mat-icon>Membre</button>
    
    <mat-menu #membreMenu="matMenu">
        <button mat-menu-item *ngIf="isAdmin" routerLink="/admin/nouvelle">Nouvelle Inscription</button>
        <button mat-menu-item *ngIf="isAdmin" routerLink="/admin/edit">Modifier Inscription</button>
        <button mat-menu-item routerLink="/admin/contrat">Contrat Membre</button>
        <button mat-menu-item routerLink="/admin/carte">Carte Membre</button>
        <button mat-menu-item *ngIf="isAdmin"routerLink="/admin/liste">Liste Membres</button>
    </mat-menu>
        
    <span class="nav-divider"></span>
    <!--button routerLink="/profil" mat-fab color="accent" (click)="profil()" style="width: 30px; height: 30px;"-->
    <button mat-fab color="accent" (click)="openDialog()" style="width: 30px; height: 30px;">
    <!--mat-icon>people</mat-icon-->
    <!--mat-icon>person</mat-icon-->
    <mat-icon>account_circle</mat-icon>

    </button>
    <!--span *ngIf="loggedInUser" class="user-name"></span-->

    

</mat-toolbar>

<mat-drawer-container class="container-side">
<mat-drawer #drawer class="mat-drawer" mode="side" position="start" opened="true">
    <mat-nav-list>
      <a mat-list-item *ngIf="isAdmin" routerLink="/admin/dashboard" (click)="drawer.close()">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item *ngIf="isAdmin"routerLink="/admin/membre" (click)="drawer.close()">
        <mat-icon>people</mat-icon>
        <span>Membres</span>
      </a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <main>
      <router-outlet></router-outlet>
    </main>
      
    
  </mat-drawer-content>
</mat-drawer-container>

</div>