<div class=container-dual>
<mat-tab-group [(selectedIndex)]="selectedIndex">
    <mat-tab  class="hidden-tab">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <ng-template mat-tab-label>
          <!-- Aucun label ici pour masquer les onglets -->
        </ng-template>
            <mat-card class="mat-card">
                  <mat-card-title> Login Member Account</mat-card-title>
                  <mat-card-subtitle style="font-size:x-small;"> Login With your username and password</mat-card-subtitle>

                  <mat-form-field>
                    <mat-label style="font-size:x-small;">Username</mat-label>
                    <input matInput formControlName="usernameOrEmail">
                  </mat-form-field>
          
                  <mat-form-field>
                            <mat-label style="font-size:x-small;">Password</mat-label>
                            <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon style="font-size: 14px;">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                            </button>
                  </mat-form-field>
                  
                        <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
              
                        <button mat-flat-button color="primary" style="width:90%;margin-top: 60px;" type="submit"><mat-icon>login</mat-icon>Login</button>
                       <div class='mat-bouton-tab1' style="margin-top: 20px;">
                        <button mat-button style="width:100%;font-size:x-small;" type="button" (click)="changeTab(1)">Not a member? Register here</button>
                        <button mat-button style="width:100%;font-size:x-small;" type="button" (click)="changeTab(2)">Forgot Password?</button>
                      </div>
            </mat-card>
          
      </form>
    </mat-tab>
    <mat-tab  class="hidden-tab" >
      <form [formGroup]="signupForm" (ngSubmit)="signUp()">
        <ng-template mat-tab-label>
          <!-- Aucun label ici pour masquer les onglets -->
        </ng-template>
        <mat-card class="mat-card">
          <mat-card-title> Create Your Member Account</mat-card-title>
          <mat-card-subtitle style="font-size:x-small;"> You need username and password</mat-card-subtitle>
         
          <mat-form-field>
            <mat-label style="font-size:x-small;">Username</mat-label>
            <input matInput formControlName="usernameOrEmail">
          </mat-form-field>
                
          <mat-form-field>
                    <mat-label style="font-size:x-small;">Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon style="font-size: 14px;">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
          </mat-form-field>
          
          
          <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>

          <button mat-flat-button color="primary" style="width:90%;margin-top: 60px;" type="submit"><mat-icon>person_add</mat-icon>SignUp</button>
          <div class='mat-bouton-tab2' style="margin-top: 20px;">
             <button mat-button style="width:100%; font-size:x-small;" type="button" (click)="changeTab(0)">You are a member? Login here</button>
             <button mat-button style="width:100%; font-size:x-small;" type="button" (click)="changeTab(2)">Forgot Password?</button>
          </div>


         
    </mat-card>
      </form>


    </mat-tab>
    <mat-tab  class="hidden-tab" >
      <form [formGroup]="recoverForm" (ngSubmit)="recover()">
        <ng-template mat-tab-label>
          <!-- Aucun label ici pour masquer les onglets -->
        </ng-template>
        <mat-card class="mat-card">
          <mat-card-title> Recover Your Member Account</mat-card-title>
          <mat-card-subtitle style="font-size:x-small;"> You need username and Email</mat-card-subtitle>

          <mat-form-field>
            <mat-label style="font-size:x-small;">Username</mat-label>
            <input matInput formControlName="userName">
          </mat-form-field>

          <mat-form-field>
            <mat-label style="font-size:x-small;">Email</mat-label>
            <input matInput formControlName="userEmail">
          </mat-form-field>
 
                <div *ngIf="errorMessage" style="color: red;">{{ errorMessage }}</div>
                <button mat-flat-button color="primary" style="width:90%;margin-top: 60px;" type="submit" ><mat-icon>restore</mat-icon>Recover account</button>
                <div class='mat-bouton-tab3' style="margin-top: 30px;">
                  <button mat-button style="width:100%;font-size:x-small;" type="button" (click)="changeTab(0)">You are a member? Login here</button>
                  <button mat-button style="width:100%;font-size:x-small;" type="button" (click)="changeTab(1)">Not a member? Register here</button>
                </div>

    </mat-card>
      </form>

      
    </mat-tab>
  </mat-tab-group>
</div>


<!--ng-template mat-tab-label>
  <mat-icon mat-fab color="accent" style="width: 30px; height: 30px;" >login</mat-icon>
  Login
</ng-template-->

<!--ng-template mat-tab-label>
  <mat-icon mat-fab color="accent" style="width: 30px; height: 30px;" >person_add</mat-icon>
  Sign Up
</ng-template-->

<!--mat-form-field>
                    <mat-label style="font-size:x-small;">Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon style="font-size: 14px;">{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                    </button>
</mat-form-field-->
